---
name: Test building simple packages from AUR.

permissions:
  contents: read

on:
  push:
  schedule:
    - cron: "17 2 * * 0"

jobs:
  _github_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: SuperLint
        uses: super-linter/super-linter/slim@v8.5.0
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_SHELL_SHFMT: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_GIT_COMMITLINT: false
          VALIDATE_TRIVY: false
          USE_FIND_ALGORITHM: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_repository:
    runs-on: ubuntu-latest
    steps:

    # Checkout repository content to run the action directly from the
    # repository.  This makes sure, that this runs the latest/current version
    # of the action, rather than a tagged/released one.
    - name: Checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: "arm64"

    - name: Build Packages amd64
      uses: ./  # Use action from the root of this repository
      with:
        packages: >
          go-do
          ttf-monocode

    - name: Build Packages arm64
      uses: ./  # Use action from the root of this repository
      with:
        arch: "arm64"
        arch-override: true
        packages: >
          go-do
          ttf-monocode

    - name: List and verify generated Files
      run: |
        find . -ls | tee ${{ github.workspace }}/files.txt
        RC=0
        for s in \
          "go-do-*-x86_64.pkg.tar*" \
          "ttf-monocode-*-any.pkg.tar*" \
          "go-do-*-aarch64.pkg.tar*" \
          ;
        do
          for f in $s ; do
            if [ ! -f "$f" ] ; then
              echo "$s not found"
              RC=1
            else
              break
            fi
          done
        done

        exit $RC
